In [1]:
import pandas as pd

In [2]:
inputfile = pd.read_csv('Company_Financial_KPI.CSV') # Reading Company financial KPI csv files.
inputfile

   company  prd_line    product  customer  profit  revenue  year
0        A     Phone    Prepaid      5070    1400    24000  2017
1        A     Phone   Postpaid      6670    5200    85200  2017
2        A     Phone   Landline      3760    2653    22653  2017
3        A  Internet  Broadband       723     996     1996  2017
4        A  Internet         4G       810     296     2996  2017
5        A  Internet         3G      1243     496     4996  2017
6        A     Phone    Prepaid      2970    1867     8867  2018
7        A     Phone   Postpaid       670     943     4043  2018
8        A     Phone   Landline      7670    5705    13705  2018
9        A  Internet  Broadband      3670    1540     6540  2018
10       A  Internet         4G       670     580     1180  2018
11       A  Internet         3G      9670    7850    27850  2018

In [3]:
inputfile ['company']

0     A
1     A
2     A
3     A
4     A
5     A
6     A
7     A
8     A
9     A
10    A
11    A
Name: company, dtype: object

In [4]:
total_revenue = inputfile['revenue'].groupby([inputfile['company'],inputfile['year']]).sum() # Grouping record according to Company and year so I can calculate Total Revenue.
total_revenue

company  year
A        2017    141841
         2018     62185
Name: revenue, dtype: int64

In [5]:
total_profit = inputfile['profit'].groupby([inputfile['company'],inputfile['year']]).sum() # Grouping record according to Company and year so I can calculate Total profit.
total_profit

company  year
A        2017    11041
         2018    18485
Name: profit, dtype: int64

In [6]:
total_customer = inputfile['customer'].groupby([inputfile['company'],inputfile['year']]).sum() # Grouping record according to Company and year so I can calculate Total Customers.
total_customer

company  year
A        2017    18276
         2018    25320
Name: customer, dtype: int64

In [7]:
inputfile.sort_values(by=['profit'])
product_line_profit = inputfile['profit'].groupby([inputfile['prd_line'],inputfile['product'],inputfile['year']]).max() 
product_line_profit  # Profit by product Line with filter on specific product

prd_line  product    year
Internet  3G         2017     496
                     2018    7850
          4G         2017     296
                     2018     580
          Broadband  2017     996
                     2018    1540
Phone     Landline   2017    2653
                     2018    5705
          Postpaid   2017    5200
                     2018     943
          Prepaid    2017    1400
                     2018    1867
Name: profit, dtype: int64

In [8]:
product_line_profit_by_year = inputfile['profit'].groupby([inputfile['year']]).sum() 
product_line_profit_by_year  # Grouping profit according to financial year.

year
2017    11041
2018    18485
Name: profit, dtype: int64

In [9]:
Complete_revenue = inputfile['revenue'].groupby(inputfile['company']).sum() # Grouping record according to Company so I can calculate Total Revenue(including all years).
Complete_revenue

company
A    204026
Name: revenue, dtype: int64

In [10]:
#profit_bad = 3000
profit_ok = 9000
profit_good = 18000

for year, profit in product_line_profit_by_year.iteritems():
    #print(year, profit)
    if profit < profit_ok :
        print('Company performance is BAD', profit, 'in the year', year)     
    elif profit_ok < profit < profit_good:
        print('Company performance is OK', profit ,'in the year', year)
    elif profit > profit_good:
        print('Company performance is GOOD', profit ,'in the year', year)

Company performance is OK 11041 in the year 2017
Company performance is GOOD 18485 in the year 2018